*.class
*.log
*.jar
*.war
*.ear
target/
.classpath
.project
.settings/
.spring-boot-devtools.properties
*.js
*.js.map
*.d.ts
build/
dist/
.next/
node_modules/
npm-debug.log
yarn-error.log
coverage/
.idea/
*.iml
*.ipr
*.iws
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
application-*.properties
!application-prod.properties
